/* Modal.module.ccs para saber que es de css*/
.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

.content {
    width: 500px;
    height: 500px;
    background-color: #56e743;
    z-index: 2;
    color: rgb(233, 18, 26);
}

.overlay {
    background-color: rgb(181, 236, 14);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}
.button{
    background: rgb(237, 48, 127);
}